<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lvge.com.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainPageActivity" />
        <activity android:name=".modules.shop_management.ShopManagementActivity" />
        <activity android:name=".modules.commodity_management.CommodityManageHomepage" />
        <activity android:name=".modules.car_data_management.CarDataManagementActivity" />
        <activity android:name=".modules.coupon.CouponActivity" />
        <activity android:name=".modules.evaluation_management.EvaluationManagementActivity" />
        <activity android:name=".modules.fence_management.FenceManagementActivity" />
        <activity android:name=".modules.financial_management.FinancialManagementActivity" />
        <activity android:name=".modules.my_4s_management.My4sManagementActivity" />
        <activity android:name=".modules.performance_analysis_management.PerformanceAnalysisManagementActivity" />
        <activity android:name=".modules.royalty_management.RoyaltyManagementActivity" />
        <activity android:name=".modules.commodity_management.CommodityNewgoods" />
        <activity android:name=".modules.royalty_management.RoyaltyManagementActivity" />
        <activity android:name=".modules.shop_management.ShopManageShopImgActivity" />
        <activity android:name=".modules.shop_management.ShopManageAuthenticationActivity" />
        <activity android:name=".modules.shop_management.ShopManageShopDepositActivity" />
        <activity android:name=".modules.commodity_management.CommodityInstall" />
        <activity android:name=".modules.commodity_management.CommodityCultivarType" />
        <activity android:name=".modules.commodity_management.CommodityCommonProblem" />
        <activity android:name=".modules.commodity_management.CommodityCultivarTypeChoice" />
        <activity android:name=".modules.commodity_management.CommodityDescriptionOfGoods" />
        <activity android:name=".modules.commodity_management.CommodityFreightSetting" />
        <activity android:name=".modules.my_4s_management.SalesConsultant"></activity>
    </application>

</manifest>